<div *ngIf="loading" style="height: 300px" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="warn"(click)="productDetail({},-1)">Tambah Data Rekapitulasi</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>                
                <th>No</th>
                <th>ID</th>
                <th>NAMA EVENT</th>
                <th>JENIS EVENT</th>
                <th>TANGGAL EVENT</th>
                <th>KAPASITAS PENGUNJUNG</th>
                <th>PENGUNJUNG YANG HADIR</th>
                <th>HARGA TIKET</th>
                <th>MODAL EVENT</th>
                <th>PENDAPATAN EVENT</th>
                <th>STATUS EVENT</th>
                <th>DESKRIPSI</th>
                <th align="right"></th>
            </thead>
            <tbody>
                <tr *ngFor="let data of datarecap; let idx = index">
                    <td>{{idx+1}}</td>
                    <td>{{data.idevent}}</td>
                    <td>{{data.namaevent}}</td>
                    <td>{{data.jenisevent}}</td>
                    <td>{{data.tanggalevent}}</td>
                    <td>{{data.kapasitaspengunjung}}</td>
                    <td>{{data.pengunjungyanghadir}}</td>
                    <td>{{data.hargatiket}}</td>
                    <td>{{data.modalevent}}</td>
                    <td>{{data.pendapatanevent}}</td>
                    <td>{{data.statusevent}}</td>
                    <td>{{data.deskripsi}}</td>
                    <td align="right">
                        <button mat-button color="primary" (click)="productDetail(data, idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteProduct(data.id, idx)"[disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Deleting..':'Delete'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>