<ng-container>
    <!--toolbar-->
    <mat-toolbar style="background-color: red;" class="example-header">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="color: white;">ISF APP RECAP</span>
        <div class="uk-width-expand"></div>
       
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <small style="color: white;">Admin</small>
        <button mat-button class="mini-title" routerLink="/open">LogOut</button>
    </mat-toolbar>
    <!--end toolbar-->
    
    <mat-sidenav-container class="example-container">
    
      <mat-sidenav #sidenav mode="side" style="background-color: black;"
      [position]="'start'" 
      opened class="sidenav-left"
      [fixedInViewport]="true" 
      [fixedTopGap]="60"
      [fixedBottomGap]="0">
    
      
      <mat-nav-list>
        <mat-list-item routerLink="/admin/dashboard">
            <mat-icon matListIcon style="color: white;">dashboard</mat-icon>
            <h3 matLine style="color: white;">Dashboard</h3>
        </mat-list-item>
        
        <mat-list-item routerLink="/admin/product">
        <mat-icon matListIcon style="color: white;">add</mat-icon>
        <h3 matLine style="color: white;">ADD DATA PENDUDUK</h3>
        </mat-list-item>

        <mat-list-item routerLink="/admin/tentang">
            <mat-icon matListIcon style="color: white;">account_circle</mat-icon>
            <h3 matLine style="color: white;">tentang</h3>
            </mat-list-item>

        </mat-nav-list>
    
      </mat-sidenav>
    
    <mat-sidenav #sidenav mode="side" [position]="'end'"  class="example-sidenav"
    [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    
       
    
    </mat-sidenav>
    <!--sidenav content-->
    <mat-sidenav-content style="padding: 20px; background-color: #ccc;">
    <!--halaman-halaman tampil disini-->
    
   
<router-outlet></router-outlet>
    
    
    
    </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
    </ng-container>
