<h3 mat-dialog-title>
    Detail Data Penduduk
 </h3>
 <div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>ID EVENT</mat-label>
        <input matInput [(ngModel)]="data.idevent">      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>NAMA EVENT</mat-label>
        <input matInput [(ngModel)]="data.namaevent" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>JENIS EVENT</mat-label>
        <input matInput [(ngModel)]="data.jenisevent" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>TANGGAL EVENT</mat-label>
        <input matInput type="date" [(ngModel)]="data.tanggalevent" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>KAPASITAS PENGUNJUNG</mat-label>
        <input matInput [(ngModel)]="data.kapasitaspengunjung" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>PENGUNJUNG YANG HADIR</mat-label>
        <input matInput [(ngModel)]="data.pengunjungyanghadir" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>HARGA TIKET</mat-label>
        <input matInput [(ngModel)]="data.hargatiket" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>MODAL EVENT</mat-label>
        <input matInput [(ngModel)]="data.modalevent" >      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>PENDAPATAN EVENT</mat-label>
        <input matInput [(ngModel)]="data.pendapatanevent" >      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>STATUS EVENT</mat-label>
        <input matInput [(ngModel)]="data.statusevent" >      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>DESKRIPSI</mat-label>
        <input matInput [(ngModel)]="data.deskripsi" >      
    </mat-form-field>
 </div>
 <div mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Batal</button>
 <button mat-flat-button (click)="saveData()" [disabled]="loading">{{loading ? 'Menyimpan..':'Simpan'}}</button>
</div> 